.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.addr {
  max-width: 50px;
  text-overflow: ellipsis;
}

.parking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parking-top {
  display: flex;
  flex-wrap: wrap;
}

.dona {
  width: 100px;
  height: 100px;
}

.parking-center {
  display: flex;
  padding: 10rem 0;
  flex-direction: row;
  justify-content: space-between;
}

.parking-left {
}

.parking-middle {
}

.parking-right {
}

.parking-bottom {
  display: flex;
}
